# Server Configuration
PORT=8000
API_VERSION=v1

# Database Configuration
DATABASE_URL="postgresql://username:password@localhost:5433/database_name?schema=public"

# Security Configuration
BCRYPT_SALT_ROUNDS=10
JWT_SECRET="your_jwt_access_secret_here"
JWT_REFRESH_SECRET="your_jwt_refresh_secret_here"
